body{
    background-color: lightblue;
    margin: auto;

}
header{
    text-align: center;

}

nav > ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav> ul> li> a{
    text-decoration: none;
}

footer{
    text-align: center;
    margin-top: 20px;
}

.circle-image {
    border-radius: 50%;
}

.dark-mode {
  background-color: black !important;
  color: white !important;;
}

